.myNav {
    /* display: block; */
    height: 60px;
    /* line-height: 55px; */
    background-color: wheat;
    
}
/* Remove bullets, margin and padding */
.myNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.myNav li {
    float: right;
    /* Or you can use display: inline; */
}
/* Define the block styling for the links */
.myNav li button{
    margin-top: 25px;
    margin-right: 50px;
    padding: 3px 20px;
    background-color: wheat;
}
/* This is optional, however if you want to display the active link differently apply a background to it */
